// colors for use throughout the project
$mid-green: #4d8c57;
$primary-green: #1f666a;
$amber: #ea9300;
$st-patricks-blue: #2b2f77;
$red: #ff3e3e;
$skills-blue: #6290c3;
$grey: #cfd7de;
$white: #fff;
$black: #000;
$grey-text: #eae7e7;
$gradient-blue: #2196f3;
$light-blue: #3e8dff;
$neon-btn-hover: #255784;
$purple: #3e3eff;
$neon-btn: 0 0 10px $gradient-blue, 0 0 40px $gradient-blue,
  0 0 80px $gradient-blue;
$gradient-header: linear-gradient(360deg, transparent, $gradient-blue);
