// colors for use throughout the project
$mid-green: #4d8c57;
$primary-green: #1f666a;
$amber: #ea9300;
$st-patricks-blue: #2b2f77;
$red: #ff0000;
$grey: #cfd7de;
$white: #fff;
$black: #000;
$grey-text: #eae7e7;
