@use '../abstracts' as a;

// double sided avatar image

.avatar-container {
  position: relative;
  z-index: 30;
  perspective: 1000px;
  margin-bottom: #{a.$margin-em-spacing-sm * 3};
  max-width: 400px;
  display: block;
  width: 200px;
  height: 200px;
  cursor: pointer;

  // preserve-3d to get sense of perspective as img rotates
  .avatar__card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.6s linear;
    position: relative;
    z-index: 30;
    perspective: 1000px;
  }
}

.flip-img {
  .avatar__card {
    @include a.prefix(transform, rotateY(180deg), ms moz webkit);
  }
}

// front and back of card
.avatar__front,
.avatar__back {
  @include a.prefix(backface-visibility, hidden, ms moz webkit);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid black;
  position: absolute;
}

.avatar__back {
  display: block;
  @include a.prefix(transform, rotateY(180deg), ms moz webkit);
  box-sizing: border-box;
}

@media only screen and (max-width: a.$sm-tablet-breakpoint-v2) {
  .avatar-container {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (min-width: a.$lg-computer-breakpoint) {
  .avatar-container {
    width: 400px;
    display: block;
    height: 400px;
  }
}
