@use "../abstracts" as *;

// NeonButton component styling
.neon-btn-container {
  background: none;
  border: none;
}

// neon btn has four spans absolutely position and snake around the btn on hover

.neon-btn {
  text-decoration: none;
  transition: 0.2s ease-in-out;
  font-size: #{$font-size-sm + 0.5};
  color: $gradient-blue;
  @include flexbox-config($align-items: center);
  position: relative;
  letter-spacing: 4px;
  overflow: hidden;
  padding: 15px 30px;

  .snake {
    position: absolute;
    display: block;
  }
  &:hover {
    color: $neon-btn-hover;
    background-color: $gradient-blue;
    box-shadow: $neon-btn;
    transition-delay: 1s;

    .neon-btn__arrow {
      transition-delay: 0.4s;
      transition: 0.6s;
      @include prefix(transform, rotate(90deg), ms moz webkit);
    }
  }
}

// snake borders
.neon-btn .snake:nth-child(1) {
  @include snakeBorders($top: 0, $left: -100%, $width: 100%, $height: 2px);

  background: linear-gradient(90deg, transparent, $gradient-blue);
}

.neon-btn:hover .snake:nth-of-type(1) {
  left: 100%;
  transition: 1s;
}

.neon-btn .snake:nth-child(3) {
  @include snakeBorders($bottom: 0, $right: -100%, $width: 100%, $height: 2px);

  background: linear-gradient(270deg, transparent, $gradient-blue);
}

.neon-btn:hover .snake:nth-of-type(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.neon-btn .snake:nth-child(2) {
  @include snakeBorders($top: -100%, $right: 0, $width: 2px, $height: 10px);

  background: linear-gradient(180deg, transparent, $gradient-blue);
}

.neon-btn:hover .snake:nth-of-type(2) {
  top: 100%;
  transition: 0.5s;
  transition-delay: 0.25s;
}

.neon-btn .snake:nth-child(4) {
  @include snakeBorders($bottom: -100%, $left: 0, $width: 2px, $height: 10px);

  background: linear-gradient(360deg, transparent, $gradient-blue);
}

.neon-btn:hover .snake:nth-of-type(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

// animated arrow on hover
@keyframes flipArrow {
  0% {
    @include prefix(transform, rotate(0deg), ms moz webkit);
  }
  100% {
    @include prefix(transform, rotate(90deg), ms moz webkit);
  }
}

@media screen and (max-height: 768px) {
  .neon-btn-container {
    margin-bottom: 2em;
  }
}
