@use '../abstracts/' as a;

// project section- slanted top and bottom with before and after

.projects {
  background-color: a.$white;
  width: 100vw;
  position: relative;
  z-index: 10;

  padding: {
    top: 7em;
    bottom: 5em;
  }
  &:after {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    @include a.prefix(transform-origin, left bottom, ms moz webkit);
    @include a.prefix(transform, skewY(3deg), ms moz webkit);
  }
}

.projects__header {
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
}

// list of projects with css grid
.projects__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 300px);

  grid-auto-rows: auto;

  .projects__project {
    display: flex;
    flex-direction: column;

    .projects__proj-img-container {
      display: flex;
      justify-content: center;

      .projects__proj-img {
        border-radius: 50%;
        border: 5px solid black;
        max-width: 200px;
        aspect-ratio: 2/1;
        height: 200px;
      }
    }
  }
}

// project details and description
.projects__project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  .projects__proj-description {
    margin-bottom: 5em;
    margin-top: 1em;
    // display: contents;
    max-width: 75%;
    font-weight: 200;
  }
}

.projects__project-header {
  margin-top: 1em;
  background: linear-gradient(360deg, transparent, #2196f3);
  padding: 0.4em;
  > .project__header-title {
    font-weight: 400;
    white-space: nowrap;
  }
}

@media screen and (min-width: 600px) {
  .projects__list {
    grid-template-columns: repeat(2, 300px);

    .projects__project {
      margin-right: 1em;
    }
  }
}

@media screen and (min-width: 800px) {
  .projects__list {
    grid-template-columns: repeat(2, 400px);
  }
}

@media screen and (max-width: a.$xs-device-breakpoint) {
  .projects {
    padding-top: 0;

    .projects__list {
      .projects__project {
        margin: 0 2em;
      }
    }
  }
}
