@use '../abstracts/' as a;

.projects {
    width: calc((100% - 30px) * 4);
    display: flex;
    flex-direction: column;
    .project {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

         .proj-img {
           border-radius: 50%;
        border: 10px solid black;
        max-width: 300px;
        
        aspect-ratio: 2/1;
        height: 300px;
        }
    }
}

.proj-description {
    color: blue;
}

