@use "../abstracts/" as a;

// project section- slanted top and bottom with before and after

.projects {
  @include a.slantedSection(100vw, auto, #3e8dff, relative, 10);
  min-height: 100vh;
}

// a change after freelance section added in- to remove slanted section for the first projects section only

.projects:not(:has(.projects__header p)) {
  padding-top: #{a.$padding-sm-em * 7};

  @include a.extra-sm-phones-max {
    padding-top: 0;
  }
}

.projects__header {
  @include a.flexbox-config(
    $justify-content: center,
    $flex-direction: column,
    $align-items: center
  );
  margin-bottom: #{a.$margin-em-spacing-sm * 5};
  > h2 {
    margin-bottom: 2em;
  }
}

// for freelance projects section with description
.projects__header:has(p) {
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
// list of projects with css grid
.projects__list {
  display: grid;
  justify-content: center;
  grid: {
    template-columns: repeat(auto-fill, 225px);
    auto-rows: auto;
    row-gap: 7em;
  }
  padding-inline: 5em;
  margin-top: 5em;
  padding-bottom: 5em;
  @include a.sm-tablets {
    grid-template-columns: repeat(auto-fill, 350px);
  }

  @include a.lg-tablets {
    grid-column-gap: 2em;
  }


  @include a.lg-screens {
    grid-template-columns: repeat(3, 350px);

  }

  .projects__project {
    background-color: a.$white;
    transition: box-shadow 0.5s ease-in-out;
    border-radius: 10px;
    min-height: 500px;
    box-shadow: -19px 22px 30px 8px rgba(64, 57, 64, 1);
    @include a.flexbox-config($flex-direction: column);
    position: relative;
    @include a.extra-sm-phones-max {
      margin: 0 a.$margin-em-spacing-md;
    }
    @include a.xs-tablets-max-width {
      padding-bottom: 5em;
    }
    @include a.sm-tablets {
      margin-right: a.$margin-em-spacing-sm;
      margin-bottom: 3em;
    }
    &:hover {
      box-shadow: -19px 22px 30px 22px rgba(64, 57, 64, 1);
    }
    .projects__proj-img-container {
      margin-top: -80px;
      position: relative;

      @include a.flexbox-config($justify-content: center);

      .projects__proj-img {
        border-radius: 50%;
        border: 5px solid #50a747;
        box-shadow: 0px 1px 20px 5px #808080;
        max-width: 300px;
        width: 200px;
        aspect-ratio: 2/1;
        height: 200px;
        transition: all 0.5s ease-in-out;
        padding: 0.3em;
        background-color: white;

        @include a.xl-tablets {
          height: 250px;
          width: 250px;
        }
      }
    }
  }
}

// project details and description
.projects__project-details {
  @include a.flexbox-config($flex-direction: column, $align-items: center);

  .projects__proj-description {
    margin: {
      bottom: #{a.$margin-em-spacing-sm * 1};
      top: a.$margin-em-spacing-sm;
    }
    line-height: 1.5em;
    max-width: 75%;
    font-weight: 400;
  }
}
.projects__project-header {
  margin-top: a.$margin-em-spacing-sm;
  background: a.$gradient-header;
  padding: #{a.$padding-xs-em - 0.1};
  > .project__header-title {
    font-weight: 400;
    white-space: nowrap;
  }
}

.projects__source-code {
  @include a.flexbox-config(
    $flex-direction: row,
    $justify-content: space-around,
    $align-items: center
  );
  position: absolute;
  bottom: 0;
  background: #ff3e3e;
  height: 50px;
  width: 100%;
  border-radius: 0 0 10px 10px;

  .projects__source-code-live {
    cursor: pointer;
  }
  .projects__source-code-container {
    gap: 1em;
    @include a.flexbox-config($flex-direction: row, $align-items: center);
    .projects__source-logo {
      max-width: 30px;
      display: block;
      height: 30px;
    }
  }
}

.projects__tech-stack {
  @include a.flexbox-config($flex-direction: row, $justify-content: flex-start);
  gap: 0.5em;
  max-width: 80%;
  width: 80%;
  flex-wrap: wrap;

  .projects__tech-stack-item {
    border: none;
    padding: 0.4em;
    border-radius: 10px;
    color: white;
    background-color: #69cf95;
    font-size: 12px;
    @include a.flexbox-config($align-items: center);
  }
}

.projects__project-header-title {
  font-size: clamp(1rem, 0.786rem + 1.143vw, 1.5rem);
}
