@use '../abstracts' as a;

// scroll button in footer component
.ftr__scroll-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  color: a.$st-patricks-blue;
  cursor: pointer;
  margin-top: 3em;
  transition: 0.4s ease-in-out;

  &:hover {
    @include a.prefix(transform, translateY(-1em), moz webkit);
  }

  > .ftr__scroll-button-arrow {
    width: 100%;
    height: auto;
  }
}
