@use '../abstracts' as a;

.scroll-btn {
  width: 50px;
  height: auto;
  border-radius: 50%;
  color: a.$st-patricks-blue;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;

  &:hover {
    // -webkit-transform: translateY(-1em);
    // transform: translateY(-1em);
    @include a.prefix(transform, translateY(-1em), moz webkit);
  }

  > .scroll-button-arrow {
    width: 50px;
    height: 50px;
    margin-top: 5em;
  }
}
