@use '../abstracts' as a;

// skills section- slanted top and bottom with before and after
.skills {
  @include a.slantedSection(100vw, auto, a.$red, relative, 9);

  &:after {
    @include a.slantedSectionAfter("", 100vw, 100vh, absolute, a.$red, -1, 0);
    @include a.prefix(transform-origin, right bottom, ms moz webkit);
    @include a.prefix(transform, skewY(-3deg), ms moz webkit);
  }
}

.skills__header {
  padding-top: 7em;
  @include a.flexbox-config($justify-content: center);
}

// list of skills with css grid
.skills__list {
  display: grid;
  padding-top: 3em;
  grid-template-columns: repeat(1, 250px);
  justify-content: center;
  grid-row-gap: 3em;
  padding-bottom: 3em;

  .skills__item {
    @include a.flexbox-config($flex-direction: column, $align-items: center);

    .skills__icon-container {
      @include a.flexbox-config($justify-content: center);
      margin-bottom: a.$margin-em-spacing-sm;
    }
    .skills__icon {
      max-width: 100px;
      display: block;
      height: auto;
    }
  }
}

.skills__details {
  display: contents;

  .skills__title {
    background: linear-gradient(360deg, transparent, a.$gradient-blue);
    padding: 0.5em;
    font-weight: 400;
  }
  .skills__description {
    max-width: 250px;
    margin-top: a.$margin-em-spacing-sm;
    font-weight: 200;
    line-height: 1.5em;
  }
}

// to add background for MongoDB icon, to make it the same style as the others
.skills__item:nth-of-type(8) > .skills__icon-container {
  background: a.$white;
  width: 100px;
  border-radius: 50%;
  height: auto;
}

@media screen and (min-width: a.$lg-tablet-breakpoint) {
  .skills__list {
    grid-template-columns: repeat(2, 300px);
  }
}

@media screen and (min-width: a.$xl-tablet-breakpoint) {
  .skills__list {
    display: grid;

    grid-template-columns: repeat(3, 300px);
  }
}

@media screen and (max-width: a.$xs-mobile-breakpoint) {
  .skills__details {
    .skills__description {
      margin: a.$margin-em-spacing-sm;
    }
  }
}
