@use "../abstracts" as a;

// skills section- slanted top and bottom with before and after
.skills {
  @include a.slantedSection(100vw, auto, a.$skills-blue, relative, 9);

  &:after {
    @include a.slantedSectionAfter(
      "",
      100vw,
      100vh,
      absolute,
      a.$skills-blue,
      -1,
      0
    );
    @include a.prefix(transform-origin, right bottom, ms moz webkit);
    @include a.prefix(transform, skewY(-3deg), ms moz webkit);
  }
}

.skills__header {
  padding-top: 7em;
  @include a.flexbox-config($justify-content: center);
}

// list of skills with css grid
.skills__list {
  display: grid;
  padding-top: 3em;
  grid-template-columns: repeat(5, 100px);
  justify-content: center;
  grid-row-gap: 1em;
  padding-bottom: 3em;

  @include a.lg-tablets {
    grid-template-columns: repeat(6, 150px);
  }
  @include a.xl-tablets {
    display: grid;

    grid-template-columns: repeat(7, 150px);
  }

  .skills__item {
    transition: scale 0.5s ease-in-out;
    position: relative;
    @include a.flexbox-config($flex-direction: column, $align-items: center);
    &:hover {
      scale: 1.2;
    }
    .skills__icon-container {
      @include a.flexbox-config($justify-content: center);
      margin-bottom: a.$margin-em-spacing-sm;
    }
    .skills__icon {
      max-width: 75px;
      display: block;
      height: auto;
    }
  }
}

.skills__details {
  display: contents;
  // display: none;
  border: none;
  background-color: purple;
  position: absolute;

  .skills__title {
    background: a.$gradient-header;
    padding: 0.5em;
    font-weight: 400;
  }
  .skills__description {
    max-width: 250px;
    margin-top: a.$margin-em-spacing-sm;
    font-weight: 200;
    line-height: 1.5em;
    @include a.extra-sm-phones-max {
      margin: a.$margin-em-spacing-sm;
    }
  }
}

.skills__detail.active {
  display: block;
  animation: tooltip 0.6s ease-in-out;
  opacity: 0;
}

// to add backgrounds for MongoDB and figma icon, to make it the same style as the others
.skills__item:nth-of-type(8) > .skills__icon-container {
  background: a.$white;
  width: 100px;
  border-radius: 50%;
  height: auto;
}

.skills__item:where(:nth-of-type(18), :nth-of-type(19))
  > .skills__icon-container
  .skills__icon {
  background: a.$white;
  border-radius: 50%;
}

// background-color: #6290C3

@keyframes tooltip {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
