@use '../abstracts' as a;

// fixed socials bar
.socials {
  position: fixed;
  top: 50%;
  right: -10%;
  @include a.flexbox-config($flex-direction: column);
  z-index: 20;
  margin: a.$margin-em-spacing-md;
}

.socials__item {
  margin: a.$margin-em-spacing-sm;
  a {
    color: a.$black;
    transition: all 0.5s ease-in-out;
    &:hover {
      color: scale-color($color: a.$black, $lightness: +80%);
    }
  }
}

// media queries keep the bar away from the content on different screen sizes
@media screen and (min-width: a.$mobile-breakpoint) {
  .socials {
    right: -5%;
  }
}

@media screen and (min-width: a.$md-tablet-breakpoint) {
  .socials {
    right: -2.5%;
  }
}

@media screen and (max-width: a.$xs-mobile-breakpoint) {
  .socials {
    position: relative;
    top: -100px;
    right: 0;
    z-index: 11;
    justify-content: center;

    :only-child {
      @include a.flexbox-config($justify-content: center);
    }
  }
}

@media screen and (min-width: a.$lg-computer-breakpoint) {
  .socials {
    right: 1.5%;
  }
}
