@use '../abstracts' as a;

.socials {
    position: fixed;
    top: 40%;
   right: -1%;
   display: flex;
   flex-direction: column;
   z-index: 20;
   margin: 2em;


}

.socials__item {
    margin: 1em;
     a {
    color: a.$black;
    transition: all 0.5s ease-in-out;
    &:hover {
        color: scale-color($color: a.$black,  $lightness: +80%, )
    }
}


}
