.socials {
    position: fixed;
    top: 50%;
   right: 0;
   display: flex;
   flex-direction: column;
   z-index: 20;
   margin: 2em;


}

.socials__item {

    &:hover {
        background-color: scale-color($color: #000000,  $lightness: +10%, )
    }

    
}
