@use '../abstracts' as a;

.about {
  width: 100vw;
  height: 100vh;
  background-color: a.$grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 8;
  padding-top: 1em;

  .about__heading {
    display: flex;
    justify-content: center;
  }

  &:before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: left bottom;
    transform: skewY(3deg);
  }
  &:after {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(-3deg);
  }
}

.text {
  font-size: clamp(0.6em, 1.5vw, 1.3em);
  padding: {
    left: clamp(5em, 2vw, 10em);
    right: clamp(5em, 2vw, 10em);
    top: 3em;
    bottom: 0;
  }
}

@media only screen and (min-width: a.$lg-computer-breakpoint) {
  .text {
    font-size: 1.7em;

    padding: {
      top: 1em;
      right: 10em;
      bottom: 0;
      left: 10em;
    }
  }
}
