@use '../abstracts' as a;

// about section styles- slanted sections at top and bottom of page using before and after
.about {
  width: 100vw;
  height: 100vh;
  background-color: a.$grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 8;
  padding-top: 1em;

  .about__heading {
    display: flex;
    justify-content: center;
  }

  &:before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    @include a.prefix(transform-origin, left bottom, ms moz webkit);
    @include a.prefix(transform, skewY(3deg), ms moz webkit);
  }
  &:after {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    @include a.prefix(transform-origin, right bottom, ms moz webkit);
    @include a.prefix(transform, skewY(-3deg), ms moz webkit);
  }
}

// about text
.about__text {
  font-size: clamp(0.6em, 1.5vw, 1.3em);
  padding: {
    left: clamp(5em, 14vw, 10em);
    right: clamp(5em, 14vw, 10em);
    top: 3em;
    bottom: 0;
  }
}

@media only screen and (min-width: a.$lg-computer-breakpoint) {
  .about__text {
    font-size: 1.7em;

    padding: {
      top: 1em;
      right: 20em;
      bottom: 0;
      left: 20em;
    }
  }
}
