@use '../abstracts' as a;

// Footer styles
.ftr {
  width: 100vw;
  height: 100vh;
  background-color: a.$white;
  @include a.flexbox-config(
    $flex-direction: column,
    $justify-content: center,
    $align-items: center
  );

  // inherits flexbox properties from parent
  .ftr__intro {
    display: contents;
  }
}

// footer avatar image
.ftr__avatar {
  width: 200px;
  max-width: 400px;
  height: auto;
  border-radius: 50%;
  border: 5px solid a.$black;

  @include a.xl-screens {
    width: 400px;
    display: block;
    height: 400px;
  }
}

// ftr copyright
.ftr__copyright {
  display: flex;
  @include a.flexbox-config($flex-direction: column, $align-items: center);
  margin-top: a.$margin-em-spacing-md;
  .ftr__scroll-button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

// contact btn- with nested button/text on hover
.ftr__contact-btn {
  display: inline-block;
  width: 200px;
  height: 50px;
  margin: a.$margin-em-spacing-sm 0;
  color: a.$grey;
  border-radius: 10px;
  position: relative;
  background: a.$st-patricks-blue;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;

  .ftr__contact-btn-text {
    color: a.$grey;
  }

  &:hover {
    .ftr__contact-btn-text {
      margin-left: 65px;
      transition: 0.2s;
    }

    .ftr__contact-btn-inner {
      left: -130px;
    }
  }
}

.ftr__contact-btn-container {
  margin-top: a.$margin-em-spacing-sm;
}

.ftr__contact-btn-inner {
  position: relative;
  width: 200px;
  height: 50px;
  margin-top: -100px;
  left: -250px;
  transition: 0.3s;
  background: a.$red;

  .ftr__contact-btn-inner-text {
    margin: {
      top: 63px;
      right: -130px;
    }
    padding-top: #{a.$padding-sm-em + 0.2};
    color: a.$grey;
  }
}

.ftr__container {
  display: flex;
  justify-content: center;

  > .ftr__avatar {
    @include a.sm-tablets-max-width {
      max-width: 150px;
    }
  }
}
