@use '../abstracts' as a;

.hdr {
  background-color: a.$st-patricks-blue;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  position: relative;
}
.hdr__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hdr__intro-heading {
    padding-top: 7rem;
    color: a.$grey-text;
    font-size: clamp(0.5rem, 5vw, 4rem);
  }
}

@media only screen and (min-width: a.$tablet-breakpoint) {
  .hdr {
    .hdr__intro-heading {
      padding-top: 5rem;
      color: a.$grey-text;
    }
  }
}

@media only screen and (min-width: a.$lg-computer-breakpoint) {
  .hdr {
    align-items: center;
  }
}
