@use "../abstracts" as a;

// header section of portfolio page
// ==============================================================

.hdr {
  background-color: a.$purple;
  width: 100vw;
  min-height: 100vh;
  @include a.flexbox-config($justify-content: center, $align-items: center);

  z-index: 11;
  position: relative;
  @include a.extra-sm-phones-max {
    margin-top: -30px;
  }
}

// header intro text- responsive with clamp()
.hdr__intro {
  @include a.flexbox-config(
    $justify-content: center,
    $flex-direction: column,
    $align-items: center
  );

  .hdr__intro-heading {
    padding-top: a.$padding-lg-screen-lg-rem;
    color: a.$grey-text;
    font-size: clamp(0.5rem, 5vw, 4rem);

    @include a.sm-tablets {
      padding-top: a.$padding-lg-screen;
      color: a.$grey-text;
    }
  }
  .hdr__intro-tech {
    margin-bottom: 2em;
    max-width: 80vw;
    text-align: center;
    color: a.$grey-text;
    font-size: clamp(0.7rem, 1.5vw, 4rem);
  }
}
