@use '../abstracts' as a;

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  border-bottom: 1px solid #000;
  height: 100px;
  overflow: hidden;
  z-index: 11;

  .logo {
    display: flex;
    justify-content:space-between;
  }

  .nav-items {
   display:contents;
   margin: {
     right: 1em;
   }
    

   
  }
}


