@use '../abstracts' as a;

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #000;
  height: 100px;
  overflow: hidden;

  .logo {
    display: flex;
    justify-content:space-between;
  }

  .nav-items {
   
    

   
  }
}


